<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/memberDetail.css}">
</head>
<body>
<div th:replace="/fragments/common/header :: headerFragment"></div>
<div class="container">
  <div class="memberDetail">
    <div class="memberDetail-con">
      <h1 class="title"><span th:text="${member.name}" ></span>님 회원상세보기</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>PHONE</th>
          <th>EMAIL</th>
          <th>DATE</th>
          <th>삭제</th>
          <th>수정</th>
        </tr>
        <tr >
          <td th:text="${member.id}">Onions</td>
          <td th:text="${member.name}">Onions</td>
          <td th:text="${member.phone}">Onions</td>
          <td th:text="${member.email}">Onions</td>
          <td th:text="${member.createDateTime}">Onions</td>
          <td ><a th:href="@{/member/delete/{member_id}(member_id=${member.id})}">삭제 </a></td>
          <td ><a th:href="@{/member/update/{member_id}(member_id=${member.id})}">수정 </a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="/fragments/common/footer :: footerFragment"></div>
</body>
</html>