<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/memberDetail.css}">
</head>
<body>
<div th:replace="/fragments/common/header :: headerFragment"></div>
<div class="container">
  <div class="memberDetail">
    <div class="memberDetail-con">
      <div class="content">
        <h1 class="title"><span th:text="${member.name}" ></span>님 회원상세보기</h1>
        <ul>
          <li>
            <span>ID</span>
            <span th:text="${member.id}"></span>
          </li>          <li>
            <span>NAME</span>
            <span th:text="${member.name}"></span>
          </li>          <li>
            <span>PHONE</span>
            <span th:text="${member.phone}"></span>
          </li>          <li>
            <span>EMAIL</span>
            <span th:text="${member.email}"></span>
          </li>
          <li>
            <span>DATE</span>
            <span th:text="${member.createDateTime}"></span>
          </li>
          <li>
            <a th:href="@{/member/delete/{member_id}(member_id=${member.id})}">삭제 </a>
            <a th:href="@{/member/update/{member_id}(member_id=${member.id})}">수정 </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div th:replace="/fragments/common/footer :: footerFragment"></div>
</body>
</html>