@import url(common/reset.css);
@import url(common/header.css);
@import url(common/footer.css);

.container{
  width: 100%;
}
.container .join{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container .join .join-con{
  flex-basis: 1600px;
  height: calc( 100vh - 64px - 200px - 30px);
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .join .join-con .join-pages{
  flex-basis: 400px;
  /* background-color: #ffff00; */
  border-radius: 10px;
}

.container .join .join-con .join-pages ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .join .join-con .join-pages ul li{
  display: flex;
  justify-content: space-between;
    gap: 5px;
}
.container .join .join-con .join-pages ul li label{
  flex:1;
}

.container .join .join-con .join-pages ul li input{
  flex:3;
}