@import url(common/reset.css);
@import url(common/header.css);
@import url(common/footer.css);

.container{
  width: 100%;
}
.container .memberList{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container .memberList .memberList-con{
  flex-basis: 1600px;
  min-height: 400px;
  background-color: antiquewhite;
  padding:50px 0;
}
.container .memberList .memberList-con h1{
    text-align:center;
}
.container .memberList .memberList-con table{
  width:1200px;
  margin:0 auto;
}
table, tr,td{
    border-collapse: collapse;
    border:1px solid #cccc;
}
.container .memberList .memberList-con table th,td{
  height:30px;
  text-align:center;
}






