@import url(common/reset.css);
@import url(common/header.css);
@import url(common/footer.css);

.container{
  width: 100%;
}
.container .memberDetail{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container .memberDetail .memberDetail-con{
  flex-basis: 1600px;
    height: calc( 100vh - 64px - 200px - 30px);
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .memberDetail .memberDetail-con .content {
  flex-basis: 600px;
  min-height:auto;
  background-color:#ffffff;
    padding:20px;
    box-sizing:border-box;
     display: flex;
        flex-direction:column;
        justify-content: space-between;
        gap:5px;
}
.container .memberDetail .memberDetail-con .content h1{
    text-align:center;
    background-color:#222222;
    color:#ffffff;
    padding:10px;
    box-sizing:border-box;
}
.container .memberDetail .memberDetail-con .content ul {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:5px;
}
.container .memberDetail .memberDetail-con .content ul li{
    display: flex;
    justify-content: space-between;
    gap:5px;
}
.container .memberDetail .memberDetail-con .content ul li span{
  line-height:20px;
  padding:5px 10px;
    box-sizing:border-box;
}
.container .memberDetail .memberDetail-con .content ul li span:nth-child(1){
  flex:1;
    background-color:#075489;
    color:#ffffff;
}
.container .memberDetail .memberDetail-con .content ul li span:nth-child(2){
  flex:3;
  background-color:#ffffffaa;
}


.container .memberDetail .memberDetail-con .content ul li:last-child a{
  flex:1;
  text-align:center;
  background-color:#000;
  color:#fff;
  padding:5px 0;
}


